---
layout: default
---
<div class="terminal-window">
<div class="terminal-bar">
<span class="terminal-dot red"></span>
<span class="terminal-dot yellow"></span>
<span class="terminal-dot green"></span>
<span class="terminal-title">x64@coffee: ~</span>
</div>
<div class="terminal-body" markdown="1">
{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %}
{%- if site.posts.size > 0 -%}
  <ul>
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = "%Y-%m-%d" -%}
      [ {{ post.date | date: date_format }} ] <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
</div>
<div class="terminal-statusbar">
  <div class="terminal-statusbar-left">
    <span class="status-pill green">✓</span>
    <span class="status-text">coffee.local</span>
    <span class="status-sep">│</span>
    <span class="status-text">zsh</span>
  </div>
  <div class="terminal-statusbar-right">
    <span class="status-pill blue">☕</span>
    <span class="status-sep">│</span>
    <span class="status-pill yellow">{{ site.posts.size }} posts</span>
    <span class="status-sep">│</span>
    <span class="status-text">{{ site.posts.first.date | date: "%Y-%m-%d" }}</span>
  </div>
</div>
</div>
